@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: inter;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #030616;
    
}
.heading{
    height: 140px;
    margin-top: 50px;
}
header{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    justify-content: center;
}
.heading p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.content{
    /* justify-content: center; */
    background-color: #F8FAFC;
    padding-left: 300px;
    padding-right: 400px;
}
.h2{
    font-size: 24px;
    padding-top: 50px;
    font-weight: 600;
}
p{
    font-size: 16px;
    font-weight: 400;
}
a{
    color: #4E80EE;
    text-decoration: none;
}

ol{
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 22px;
}
ul{
    font-size: 16px;
    padding-left: 22px;
    font-weight: 400;
    line-height: 40px;
}